### Import library

In [17]:
from sklearn.linear_model import LinearRegression
# import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

### Load Weather Data
#### weather.csv is produced from weatherPreprocess.ipynb, containing temperature 20170301~20170430 and 20180301~20870430

In [18]:
def Read_WeatherData(filename):
    dataset = pd.read_csv(filename,sep=',')
       
    return dataset

In [19]:
weather_train = Read_WeatherData("weather.csv")

### Load Training Data
#### power data of 20170101~20181130, download from https://data.gov.tw/dataset/19995

In [20]:
def Read_TrainData(filename):
    dataset = pd.read_csv(filename,sep=',')
    dataset.rename(columns={'日期':'date', '尖峰負載(MW)':'peak','淨尖峰供電能力(MW)':'provide','備轉容量(MW)':'volumn'}, inplace=True)

        
    return dataset

In [21]:
dataset = Read_TrainData("20170101_20181130.csv")

### Load Testing Data
##### predicted power data of 20190401~20190408, download from https://data.gov.tw/dataset/33462

In [22]:
def Read_TestData(filename):
    dataset = pd.read_csv(filename,sep=',')
    dataset.rename(columns={'日期(年/月/日)':'date', '預估淨尖峰供電能力(萬瓩)':'provide','預估尖峰備轉容量(萬瓩)':'volumn'}, inplace=True)
    future_temp = [20,20.5,22,22,23,24,23,24]
    dataset['temperature'] = future_temp
    return dataset

In [23]:
new_data = Read_TestData("20190401.csv")
# select feature
new_feature = new_data.iloc[1:, [1,4]]*10
new_feature['temperature'] = new_data['temperature']
new_feature

   provide  volumn  temperature
1    30560    1860         20.5
2    30560    1960         22.0
3    28140    2440         22.0
4    27060    2460         23.0
5    26970    2670         24.0
6    26930    2430         23.0
7    30600    2100         24.0

### Select features and predict column

In [24]:
march_data = dataset.iloc[59:90, 0:4]
march_data.index = range(len(march_data))
march_data['temperature'] = weather_train['2017-03'][:]
april_data = dataset.iloc[90:120, 0:4]
april_data.index = range(len(april_data))
april_data['temperature'] = weather_train['2017-04'][:]
# next_march_data = march_data.append(dataset.iloc[425:455, 0:4]) #2018
# next_april_data = april_data.append(dataset.iloc[456:463, 0:4]) #2018

In [25]:
march_feature = march_data.iloc[:, [1,3,4]]
march_peak = march_data.iloc[:, 2]
# new_feature = april_data.iloc[:, [1,3]]
# new_peak = april_data.iloc[:, 2]
# new_feature
train_feature = march_feature.append(april_data.iloc[:, [1,3,4]])
train_peak = march_peak.append(april_data.iloc[:, 2])
train_feature

    provide  volumn  temperature
0     29168    1907        18.36
1     29327    2253        17.32
2     28926    2012        18.24
3     26511    1765        20.34
4     26027    2037        22.14
5     29410    2342        19.08
6     29630    2062        16.26
7     29971    2204        15.50
8     29663    1819        18.52
9     29640    1748        20.36
10    26940    1791        21.24
11    26224    1856        22.66
12    29929    2037        22.28
13    29854    2085        17.38
14    29645    1871        18.34
15    29971    1873        18.50
16    29612    1716        20.22
17    27428    2189        21.82
18    26543    2149        22.18
19    30339    1886        23.54
20    30707    2510        22.30
21    30379    2284        22.20
22    30369    2334        21.92
23    30280    2408        22.60
24    26886    2262        19.88
25    25817    1925        15.80
26    29653    2431        20.40
27    29900    2134        21.94
28    30095    2073        22.70
29    30320    2346        23.46
..      ...     ...          ...
0     26766    2521        17.36
1     25227    2322        18.88
2     24997    2200        20.78
3     25389    1752        22.04
4     29559    1837        23.44
5     30310    2149        24.10
6     30425    1686        24.70
7     28526    2238        25.80
8     27252    1660        26.36
9     31313    1077        28.06
10    31504    2088        24.42
11    30668    2664        20.22
12    30214    2043        19.94
13    30381    2122        23.12
14    28108    1937        25.42
15    27411    1907        26.48
16    31815    1525        27.40
17    32269    1546        27.00
18    32052     980        26.78
19    32325    1600        26.72
20    32395    1407        26.30
21    27440    2741        20.04
22    26236    2148        21.10
23    30489    2140        22.92
24    31221    2063        24.84
25    32091    1673        25.80
26    30979    2631        20.40
27    29816    2651        20.70
28    27142    2395        22.62
29    25999    1995        24.20

[61 rows x 3 columns]

### Build regression model

In [26]:
from sklearn.datasets import make_regression
# fit final model
model = LinearRegression()
model.fit(train_feature, train_peak)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

### Make prediction
##### 因供電能力和備轉容量這兩個 feature在regression過程中權重較重，
##### 但目前這兩個值也是被預測出來的，所以在最後將氣溫較接近的2017尖峰負載再加入平均。

In [27]:
# make a prediction
ynew = model.predict(new_feature)
# predicted outputs
prediction = {}
prediction['date'] = new_data.iloc[1:, 0].tolist()
# add 2017 data to average, since this year's weather is similiar
val_data = dataset.iloc[91:98, 2]

prediction['peak_load(MW)'] = np.average([val_data,ynew], axis=0).astype(int)

# convert dict to dataframe
pd.DataFrame.from_dict(prediction)

         date  peak_load(MW)
0  2019/04/02          25802
1  2019/04/03          25698
2  2019/04/04          24668
3  2019/04/05          26161
4  2019/04/06          26230
5  2019/04/07          26619
6  2019/04/08          27394

### Write out prediction
##### eg. date,peak_load(MW)
#####       20190402,22905

In [28]:
def Write_Out(data):
    output_file = "submission.csv"
    f_out = open(output_file,'w')
    
    data.to_csv(output_file,index=False,sep=',')

In [29]:
Write_Out(pd.DataFrame.from_dict(prediction))